{% extends '::base.html.twig' %}

{% block body %}
    {{ google_map_container(map) }}

    <div id="controls" style="display: none; z-index: 1;">
        <div id="searchControl"
             style="margin-top: 25px; margin-left: 25px;">
            <div>
                <input type="text" name="query"
                       style="border: none; height: 1.25em; font-size: 15px; font-weight: 300; width: 360px;">
                <button style="background-color: blue; border: none; border-radius: 2px; color: white; height: 1.25em; width: 40px; padding-top: 5px; box-sizing: content-box;">Zoek</button>
            </div>
        </div>

        <div id="filterControl" style="margin-left: 25px; margin-top: 20px; height: 60%; width: 360px; background-color: white;">
            <ul>
                <li><input type="checkbox" name="wireless-internet"> Draadloos Internet</li>
                <li><input type="checkbox" name="wired-internet"> Bedraad Internet</li>
                <li><input type="checkbox" name="wallsocket"> Stopcontact</li>
                <li><input type="checkbox" name="food"> Food/snacks</li>
                <li><input type="checkbox" name="silent"> Weinig geluid</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ google_map_js(map) }}

    <script type="text/javascript">
        var centerChangedEventTimer;
        var markersArray = [];

        function getUserLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(zoomToPosition);
            }
        }

        function zoomToPosition(position)
        {
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            rwMap.setCenter(latlng);
            rwMap.setZoom(12);
        }

        function getLocations(bounds, filters)
        {
            var parameters = [
                'minLat=' + bounds.getSouthWest().lat(),
                'minLng=' + bounds.getSouthWest().lng(),
                'maxLat=' + bounds.getNorthEast().lat(),
                'maxLng=' + bounds.getNorthEast().lng()
            ];

            if (filters)
            {
                for (var i=0, im=filters.length; im > i; i++)
                {
                    var filter = filters[i];
                    parameters.push(filter.name + '=' + (filter.checked ? 1 : 0));
                }
            }

            console.log(parameters);

            var url = '{{ path('get_locations') }}?' + parameters.join('&');
            $.getJSON(url, function(locations)
                {
                    if (markersArray) {
                        for (i in markersArray) {
                            markersArray[i].setMap(null);
                        }
                        markersArray.length = 0;
                    }

                    locations.forEach(function(location) {
                        var latlng = new google.maps.LatLng(location.latitude, location.longitude);

                        var contentString = '<div"><strong>'+location.name+'</strong></div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: rwMap,
                            title: location.name
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(rwMap, marker);
                        });

                        markersArray.push(marker);
                    });
                }
            );
        }

        function filter()
        {
            var filterControl = document.getElementById("filterControl");
            var filters = filterControl.getElementsByTagName("input");

            getLocations(rwMap.getBounds(), filters);
        }

        function initFilter()
        {
            var filterControl = document.getElementById("filterControl");
            var filters = filterControl.getElementsByTagName("input");

            for (var i=0, im=filters.length; im > i; i++)
            {
                filters[i].addEventListener('click', filter);
            };
        }

        function init()
        {
            getUserLocation()
            var controls = document.getElementById("controls");
            controls.style.display = 'block';
            rwMap.controls[google.maps.ControlPosition.TOP_LEFT].push(controls);

            initFilter();
        }

        google.maps.event.addDomListener(window, 'load', init);
        google.maps.event.addListener(rwMap, 'center_changed', function() {
            window.clearTimeout(centerChangedEventTimer)
            centerChangedEventTimer = setTimeout(
                function() {
                    getLocations(rwMap.getBounds())
                },
                100
            );
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rustigwerkenmaps/css/reset.css') }}" type="text/css" rel="stylesheet" />

    {{ google_map_css(map) }}
    <style>
        #map_canvas {
            height : 100% !important;
            width : 100%;
            top : 0;
            left : 0;
            position : absolute;
            z-index : 200;
        }

        #filterControl ul {
            list-style: none;
        }
    </style>
{% endblock %}