{% extends '::base.html.twig' %}

{% block body %}
    {{ google_map_container(map) }}

    <div id="mainnav">
        <div id="searchControl">
            <div>
                <input type="text" name="query">
                <button>Zoek</button>
            </div>
        </div>

        <div id="filterControl">
            <a href="">Filter</a>
            <ul>
                <li><input type="checkbox" name="wireless-internet"> Draadloos Internet</li>
                <li><input type="checkbox" name="wired-internet"> Bedraad Internet</li>
                <li><input type="checkbox" name="wallsocket"> Stopcontact</li>
                <li><input type="checkbox" name="food"> Food/snacks</li>
                <li><input type="checkbox" name="silent"> Weinig geluid</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ google_map_js(map) }}

    <script type="text/javascript">
        var centerChangedEventTimer;
        var markersArray = [];

        function getUserLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(zoomToPosition);
            }
        }

        function zoomToPosition(position)
        {
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            rwMap.setCenter(latlng);
            rwMap.setZoom(12);
        }

        function getLocations(bounds, filters)
        {
            var parameters = [
                'minLat=' + bounds.getSouthWest().lat(),
                'minLng=' + bounds.getSouthWest().lng(),
                'maxLat=' + bounds.getNorthEast().lat(),
                'maxLng=' + bounds.getNorthEast().lng()
            ];

            if (filters)
            {
                for (var i=0, im=filters.length; im > i; i++)
                {
                    var filter = filters[i];
                    parameters.push(filter.name + '=' + (filter.checked ? 1 : 0));
                }
            }

            console.log(parameters);

            var url = '{{ path('get_locations') }}?' + parameters.join('&');
            $.getJSON(url, function(locations)
                {
                    if (markersArray) {
                        for (i in markersArray) {
                            markersArray[i].setMap(null);
                        }
                        markersArray.length = 0;
                    }

                    locations.forEach(function(location) {
                        var latlng = new google.maps.LatLng(location.latitude, location.longitude);

                        var contentString = '<div"><strong>'+location.name+'</strong></div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: rwMap,
                            title: location.name
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(rwMap, marker);
                        });

                        markersArray.push(marker);
                    });
                }
            );
        }

        function filter()
        {
            var filterControl = document.getElementById("filterControl");
            var filters = filterControl.getElementsByTagName("input");

            getLocations(rwMap.getBounds(), filters);
        }

        function initFilter()
        {
            var filterControl = document.getElementById("filterControl");
            var filters = filterControl.getElementsByTagName("input");

            for (var i=0, im=filters.length; im > i; i++)
            {
                filters[i].addEventListener('click', filter);
            };
        }

        function init()
        {
            getUserLocation()
            initFilter();
        }

        google.maps.event.addDomListener(window, 'load', init);
        google.maps.event.addListener(rwMap, 'center_changed', function() {
            window.clearTimeout(centerChangedEventTimer)
            centerChangedEventTimer = setTimeout(
                function() {
                    getLocations(rwMap.getBounds())
                },
                100
            );
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rustigwerkenmaps/css/modules/mainnav.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/rustigwerkenmaps/css/modules/map.css') }}" type="text/css" rel="stylesheet" />

    {{ google_map_css(map) }}
{% endblock %}